.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 300px;
  svg {
    width: 50px;
    height: 50px;
    color: var(--danger-color);
  }
  p {
    color: var(--danger-color);
  }
}
